cleanDefaultStyle()
  appearance: none
  border: none
  outline: none

btn(c, border = false)
  padding: 0 10px
  border-radius: 5px
  cursor: pointer
  cleanDefaultStyle()

  if (border == true)
    border: 1px solid c
  else
    background-color: c
    color: #fff

PrimaryBtn()
  btn(rgb(252, 157, 154))

PrimaryBorderBtn()
  btn(rgb(252, 157, 154), true)

InfoBtn()
  btn(rgb(131, 175, 155))